/* RESET BÁSICO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CONFIGURAÇÃO GERAL */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f3f3f3;
  color: #333;
}

/* TOPO */
.topo {
  background: linear-gradient(#7a0c0c, #a4161a);
  color: white;
  text-align: center;
  padding: 40px 20px;
}

/* CARDÁPIO */
.cardapio {
  padding: 30px;
  text-align: center;
}

.produtos {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

/* PRODUTO */
.produto {
  background: white;
  width: 260px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.produto h3 {
  margin-bottom: 10px;
  color: #7a0c0c;
}

.descricao {
  font-size: 14px;
  margin-bottom: 10px;
}

.preco {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

/* BOTÃO */
button {
  width: 100%;
  padding: 10px;
  background: #25d366;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}

/* RODAPÉ */
.rodape {
  background: #222;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}
