* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f4f4;
  color: #333;
}

/* TOPO */
.topo {
  background: #fff;
  text-align: center;
  padding: 25px;
  border-bottom: 1px solid #ddd;
}

.topo h1 {
  font-size: 26px;
}

.topo p {
  font-size: 14px;
  color: #666;
}

/* AVISO */
.aviso {
  max-width: 900px;
  margin: 20px auto;
  background: #fff4d6;
  border: 1px solid #ffe6a3;
  padding: 12px;
  text-align: center;
  border-radius: 10px;
  font-size: 14px;
}

/* CARDÁPIO */
.cardapio {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.cardapio h2 {
  text-align: center;
  margin-bottom: 25px;
}

/* PRODUTOS */
.produtos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

/* CARD */
.produto {
  background: #fff;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

.produto h3 {
  margin-bottom: 8px;
}

.descricao {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.preco {
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin-bottom: 15px;
}

/* ENDEREÇO */
.endereco {
  display: flex;
  gap: 12px;
  margin-bottom: 14px;
}

.endereco input {
  padding: 14px 12px;        /* MAIS ALTO */
  border-radius: 10px;      /* MAIS MODERNO */
  border: 1px solid #ccc;
  font-size: 16px;          /* TEXTO MAIOR */
}

/* Bloco menor, apto maior */
.endereco input:first-child {
  flex: 0.8;
}

.endereco input:last-child {
  flex: 1.2;
}

/* PISCINA */
.piscina {
  font-size: 14px;
  margin-bottom: 14px;
  display: block;
}

/* QUANTIDADE */
.quantidade {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 14px;
}

.quantidade button {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: none;
  background: #333;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

/* PIX */
.pix {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: #f1f1f1;
  margin-bottom: 10px;
  cursor: pointer;
}

/* WHATSAPP */
.whats {
  width: 100%;
  padding: 14px;
  border-radius: 8px;
  border: none;
  background: #25d366;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

/* RODAPÉ */
.rodape {
  text-align: center;
  font-size: 13px;
  color: #666;
  padding: 20px;
}
